#/etc/systemd/system/awg_server.service

[Unit]
Description=AWG TCP Server
After=network.target

[Service]
ExecStart=/home/petalinux/awg_server
WorkingDirectory=/home/petalinux
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
